<div class="flex flex-col items-center">
  <h2 class="text-3xl mb-8">Product :</h2>
  <div class="flex flex-col items-center bg-violet-500 border-2 border-pink-400">
    <h3 class="my-2 text-2xl">{{productRender.title}}</h3>
    <p class="my-2">{{productRender.description}}</p>
    <span class="text-black text-3xl my-2"> $ {{productRender.price}}</span>
  </div>
</div>