<div class="flex flex-col items-center">
  <h1>Tu Perfil:</h1>
  <p>{{user.first_name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
  <p>{{user.adm}}</p>
  <button id="btnLogout" class="border-8 border-red-700">Logout</button>
</div>
<script src="/js/profile.js"></script>